* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'noto-sans';
    src: url(../fonts/noto-sans/NotoSans-400.ttf);
}

:root {
    --darkblue : #0f172a;
    --blue : #1cc2e7;
    --lightblue : #b9e0f2;
    --grey : #66768f;
    --white : #fff;
    --greyblue : #94a9c9;
}

a {
    color: var(--white);
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

body {
    background-color: var(--darkblue);
    font-family: 'noto-sans';
}

header {
    background-color: var(--darkblue);
    position: fixed;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--blue);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--greyblue);
    font-size: 13px;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: var(--greyblue);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue);
}

.navbar-nav {
    margin-left: 70px;
}

.nav-item {
    margin-right: 20px;
}

.dropdown-menu {
    background-color: #0b1222;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #222f43;
}

.dropdown-item {
    color: var(--greyblue);
    font-size: 12px;
    padding: 5px 10px;
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--blue);
}

.dropdown-item i {
    margin-right: 3px;
}

header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 5px 0;
}

.subscr-input:focus{
     border: none;
     outline: none;
}

.header-search {
    text-align: right;
    margin-left: 200px;
}

.search-btn1 {
    color: var(--greyblue);
    font-size: 21px;
}

.search-btn1:hover {
    color: var(--greyblue);
}

input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
}

.switch {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.switch .costum-input {
    display: inline-block;
    position: relative;
    width: 37px;
    height: 17px;
    background-color: var(--grey);
    border-radius: 10px;
}

.costum-input .circle-switch {
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: var(--greyblue);
    background-image: url(https://genz-nextjs-v3.vercel.app/_next/static/media/mode.eb881a73.svg);
    left: 0px;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

input[type="checkbox"]:checked + span {
    left: 20px;
}

.p-20 {
    padding: 20px!important;
}

.search-form {
    background-color: #0b1222;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #222f43;
}

.right-side {
    position: absolute;
    transform: translate3d(716px, 50px, 0px);
    top: 0px;
}

.dropdown-menu.show {
    padding: 10px 15px;
}

.search-icon {
    display: inline-block;
}

.search-form .search-input {
    height: 46px;
    background-color: #0f172a;
    border: 1px solid #222f43;
    font-size: 14px;
    line-height: 1;
    padding: 10px 25px 10px 20px;
    caret-color: white;
    width: 100%;
}

.search-input {
    border-radius: 8px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    color: #7f92b0;
}

.search-input::placeholder {
    font-size: 12px;
}

.search-input:focus {
    outline: 0;
}

input {
    color: #7f92b0;
    transition: all .3s ease 0s;
}

.search-form .search-btn2 {
    position: absolute;
    top: 14px;
    right: 28px;
    width: 40px;
    height: 40px;
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/icon-search.48d1803e.svg) no-repeat 50%;
    border: 0;
}

.btn-gradient {
    font-size: 12px;
    vertical-align: text-top;
    background: linear-gradient(90deg,#0ea5ea,#0bd1d1 51%,#0ea5ea);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

.btn-gradient:hover {
    color: var(--white);
    background: linear-gradient(90deg,#0ea5ea,#0bd1d1 100%,#0ea5ea);
    text-decoration: none;
}

.navbar-light .navbar-toggler-icon {
    background-color: var(--lightblue);
    border-radius: 5px;
}

.hashtags p {
    margin-top: 15px;
    margin-bottom: 0;
    color: var(--blue);
    font-size: 13px;
}

.hashtags .hashtag-links {
    color: var(--grey);
    font-size: 10px;
    text-decoration: none;
    transition: .3s;
}

.hashtags .hashtag-links:hover {
    color: var(--white);
}

.margin-items {
    margin: 200px 70px;
}

.port-text p {
    color: var(--greyblue);
}

.port-text h1 {
    color: var(--white);
}

.container-0 {
    display: inline-block;
  }

.gradient {
  font-size: 45px;
  background: -webkit-linear-gradient(228deg,#1385b9,#1debeb 58%,#0ea5ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.subscribe-btn {
    position: relative;
}

.subscribe-btn .inside-btn {
    display: flex;
    padding: 10px 10px 10px 20px;
    background: linear-gradient(#222f43,#222f43) padding-box,linear-gradient(90deg,#0ea5ea,#0bd1d1) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 85%;
}

.inside-btn .subscr-input {
    width: 100%;
    background-color: transparent;
    border: 0;
}

.subscr-input{
    caret-color: white;
}


.inside-btn .subscr-input::placeholder {
    color: var(--grey);
    font-size: 13px;
}

.inside-btn .subscr-btn {
    background: linear-gradient(90deg,#0ea5ea,#0bd1d1 51%,#0ea5ea);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    padding: 6px 12px;
    transition: .5s;
}

.inside-btn .subscr-btn:hover {
    background: linear-gradient(90deg,#0ea5ea,#0bd1d1 100%,#0ea5ea);
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid var(--blue);
    white-space: nowrap;
    animation: 
    typing 4s steps(20, end) infinite;
    
    font-size: 1.6rem;
    width: 0;
}
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.port-img img {
    z-index: 3;
    position: relative;
    display: block;
    margin: auto;
    width: 250px;
    height: 380px;
}

.port-img {
   position: relative;
}

.port-img::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: -140px;
    height: 500px;
    width: 500px;
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/shadow-2.5ab01ec0.svg) no-repeat 60%;
    background-size: contain;
    z-index: 1;
}

.portfolio-txt-img::after {
    width: 500px;
    content: "";
    z-index: 1;
    position: absolute;
    height: 800px;
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/shadow-1.82a3cf90.svg) no-repeat 100% 0;
    left: 0;
    top: 0;
    z-index: -1;
}

.anim1 img {
    animation-name: Anim1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes Anim1 {
    0% {
        top: 10px;
        opacity: 1;
        }
    
        20% {
            top: 50px;
            opacity: .5;
        }
    
        40% {
            top: 70px;
            opacity: 1;
        }

        from {
            width: 20px;
        }
    
        to {
            width: 20px;
            transform: rotate(180deg);
        }

        50% {
            left: 10px;
            opacity: 1;
            }
        
            70% {
                left: 50px;
                opacity: .5;
            }
        
            100% {
                left: 100px;
                opacity: 1;
            }
}

.anim2 img {
    animation-name: Anim2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    width: 20px;
    position: absolute;
    top: 0;
    right: 55px;
}

@keyframes Anim2 {

        from {
            width: 20px;
        }
    
        to {
            width: 20px;
            transform: rotate(180deg);
        }

        0% {
            top: 0;
            
            }
        
            100% {
                top: -55px;
            
            }
    }

    .anim3 img {
        animation-name: Anim3;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        width: 25px;
        position: absolute;
        top: 160px;
        left: 20px;
    }

    @keyframes Anim3 {

        0% {
            top: 160px;
            
            }

            50% {
                top: 150px;
            }
        
            100% {
                top: 140px;
            }
    }

    .anim4 img {
        animation-name: Anim4;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        width: 25px;
        position: absolute;
        top: 100px;
        right: 20px;
}

@keyframes Anim4 {
    from {
        width: 25px;
    }

    to {
        width: 40px;
    }
}

.topics-img {
    position: relative;
    width: 100%;
}

.topics-img .card-image {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.topics-img img {
    width: 200px;
    border-radius: 8px;
    position: relative;
    transition: .5s;
}

.card-image:hover img {
    transform: scale(1.1);
}

.card-txt {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/bg-trans.f1fa91bd.png) repeat-x 0 100%;
}

.card-txt .text-below {
    position: absolute;
    bottom: -25px;
    left: 0;
    padding: 15px;
}

.card-txt .text-below h5 {
    font-weight: 700;
    font-size: 14px;
    color: var(--lightblue);
    transition: .3s;
}

.card-txt .text-below:hover h5 {
    color: var(--blue);
}

.card-txt .text-below p {
    font-size: 10px;
    font-weight: 600;
    color: var(--grey);
}

.hot-topics {
    border: 1px solid #222f43;
    border-radius: 10px;
    padding: 30px 20px;
    margin: -200px 145px 50px 145px;
    background-color: #131c31;
}

.topics-txt h4 {
    color: var(--lightblue);
    font-size: 14px;
    font-weight: 700;
}

.topics-txt p {
    color: var(--greyblue);
    font-size: 12px;
}

.topics-txt .topics-btn {
    border: none;
    background-color: var(--darkblue);
    color: var(--lightblue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.topics-txt .topics-btn:hover {
    background-color: var(--lightblue);
    color: var(--darkblue);
}

.header-section {
    margin-left: 70px;
    margin-bottom: 50px;
}

.header-section h2 {
  font-size: 40px;
  background: -webkit-linear-gradient(83deg,#1385b9,#2eb4b4 58%,#69b0d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.header-section p {
    color: var(--greyblue);
}

.picked-cards {
    margin: 0 70px;
}

.card-items {
    position: relative;
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid #222f43;
    background-color: #131c31;
    transition: .3s;
}

.card-items:hover {
    background: linear-gradient(#131c31,#131c31) padding-box,linear-gradient(90deg,#0ea5ea,#0bd1d1) border-box;
    border-radius: 16px;
    border: 1px solid transparent;
    box-shadow: 0 3px 20px rgba(11,209,209,.2);
    transform: translateY(-2px);
}

.items-img img {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 280px;
    object-fit: cover;
}

.items-img .video-sign {
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/post-type.209d025b.svg) no-repeat 50%;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.start-end {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    font-size: 13px;
}

.text-start a {
    color: var(--grey);
    text-decoration: none;
    transition: .3s;
}

.text-start a:hover {
    color: var(--blue);
}

.cards-header {
    margin-bottom: 20px;
}

.cards-header h3 a {
    color: var(--lightblue);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
}

.cards-header h3 a:hover {
    color: var(--blue);
}

.author-img {
    display: flex;
    align-items: center;
}

.author-img img {
    display: inline-block;
    margin-right: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.author-img .author-txt {
    width: 100%;
    line-height: 5px;
    width: 100%;
    margin-top: 15px;
}

.author-txt h5 {
    color: var(--grey);
    font-size: 15px;
    font-weight: 700;
}

.author-txt p {
    color: var(--grey);
    font-size: 10px;
    font-weight: 600;
}

.text-right {
    text-align: right;
    margin-top: 20px;
}

.text-right a {
    text-decoration: none;
}

.read-more * {
    color: var(--greyblue);
    font-size: 13px;
    z-index: 5;
    position: relative;
    transition: .3s;
    text-decoration: none;
}

.read-more:hover span {
    color: var(--blue);
    text-decoration: none;
}

.read-more::before {
    content: "";
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    left: 70px;
    top: -8px;
    background-color: #0f172a;
    z-index: 1;
}

.small-header h3 {
    margin-top: 10px;
    line-height: 17px;
}

.small-header h3 a {
    font-size: 16px;
}

.small-readmore::before {
    content: "";
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    left: 12px;
    top: -8px;
    background-color: #0f172a;
    z-index: 1;
}

.show-more {
    text-align: center;
    margin: 20px;
}

.show-more a {
    border-radius: 80px;
    padding: 18px 30px;
    background: linear-gradient(90deg,#0ea5ea,#0bd1d1 51%,#0ea5ea);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    transition: .5s
}

.show-more a:hover {
    background: linear-gradient(180deg,#0ea5ea,#0bd1d1 100%,#0ea5ea);
}

.show-more i {
    margin-left: 5px;
    font-size: 12px;
}

.banner-pic {
    padding: 70px 100px;
}

.margin-tags {
    margin: 0 70px;
}

.tags {
    padding: 19px;
    position: relative;
    display: flex;
    border-radius: 16px;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #222f43;
    background-color: #131c31;
    transition: .3s;
}

.tags:hover {
    background: linear-gradient(#131c31,#131c31) padding-box,linear-gradient(90deg,#0ea5ea,#0bd1d1) border-box;
    border-radius: 16px;
    border: 1px solid transparent;
    box-shadow: 0 3px 20px rgba(11,209,209,.2);
    transform: translateY(-2px);
}

.tags-img {
    height: 32px;
    margin-right: 10px;
    min-width: 32px;
}

.tag-txt a {
    color: var(--greyblue);
    text-decoration: none;
    font-size: 13px;
}

.tag-txt a:hover {
    color: var(--blue);
}

.recent-posts {
    margin-top: 50px;
}

/* .recent-post-margin {
    margin: 0 70px;
} */

.recent-post-cards {
    margin-top: 70px;
    margin-left: 70px;
}

.card-list {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

.post-card-img {
    width: 230px;
    min-width: 230px;
    margin-right: 20px;
    transition: .3s;
}

.post-card-img img {
    border-radius: 20px;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.post-card-img:hover {
    transform: translateY(-2px);
}

.card-list .post-card-txt {
    width: 100%;
}

.post-card-txt .dev-btn {
    border-radius: 50px;
    padding: 6px 15px;
    font-size: 12px;
    line-height: 16px;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background-color: #222f43;
    transition: .3s;
}

.post-card-txt .dev-btn:hover {
    background-color: var(--blue);
    transform: translateY(-2px);
}

.post-card-header h5 {
    color: var(--lightblue);
    font-weight: 900;
    margin: 20px 0;
    line-height: 27px;
    transition: .3s;
}

.post-card-header h5:hover {
    color: var(--blue);
}

.post-card-txt .post-card-header {
    text-decoration: none;
}

.post-card-txt .post-card-header:hover {
    text-decoration: none;
}

.post-card-txt p {
    color: var(--greyblue);
    font-size: 12px;
}

.post-card-hashtags {
    color: var(--grey);
    font-size: 10px;
    margin-right: 12px;
    transition: .3s;
}

.post-card-hashtags:hover {
    color: var(--blue);
    text-decoration: none;
}

.post-card-timeread {
    color: var(--grey);
    font-size: 12px;
}

.popular-post-side {
    margin-right: 70px;
}

.side-posts {
    border-radius: 16px;
    padding: 25px 25px 0;
    margin-bottom: 30px;
    border: 1px solid #222f43;
    background-color: #131c31;
}

.side-posts-header {
    position: relative;
}

.side-posts-header .line {
    padding-bottom: 10px;
    margin-bottom: 30px;
    background: linear-gradient(90deg,#0ea5ea 6%,#0bd1d1 100.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    font-size: 20px;
}

.side-posts-header .line::before {
    height: 3px;
    width: 40%;
    content: "";
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    left: 0;
}

.side-item-list .post-item {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
}

.side-item-list .post-item .post-item-img {
    min-width: 60px;
    max-width: 60px;
    margin-right: 15px;
}

.post-item-img img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.side-item-list .post-item .post-item-txt {
    position: relative;
    border-bottom: 1px solid #2a3a52;
    margin-bottom: 10px;
}


.post-item-txt a {
    text-decoration: none;
}

.post-item-txt h5 {
    font-size: 12px;
    font-weight: 600;
    color: var(--lightblue);
    transition: .3s;
}

.post-item-txt h5:hover {
    color: var(--blue);
}

.post-item-txt .post-item-read {
    color: var(--grey);
    font-size: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.post-item-txt .post-item-date {
    display: inline-block;
    color: var(--grey);
    font-size: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    position: relative;
}

.post-item-txt .post-item-date i {
    font-size: 5px;
    position: absolute;
    top: 5px;
    left: -8px;
}

.side-comment-list {
    position: relative;
}

.side-comment-list .comment-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2a3a52;
}

.comment-item p {
    color: var(--greyblue);
    font-size: 10px;
}

.author-img-name {
    display: flex;
    align-items: center;
}

.author-img-name img {
    display: inline-block;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.author-img-name .author-name-date {
    width: 100%;
}

.author-name-date .author-name {
    display: block;
    color: var(--grey);
    font-size: 10px;
    margin-top: 5px;
}

.author-name-date .author-date {
    color: var(--grey);
    font-size: 10px;
}

.side-posts-header img {
    width: 100px;
}

.side-posts-header p {
    color: var(--grey);
    font-size: 14px;
}

.side-posts-items .img-border {
    border-radius: 5px;
    margin-bottom: 20px;
}

.footer-border {
    margin: 50px 20px 25px;
    padding: 50px 100px;
    border-radius: 45px;
    border: 1px solid #222f43;
    background-color: #131c31;
}

.footer-margin {
    margin-bottom: 30px;
}

.footer-margin img {
    width: 100px;
    margin-bottom: 30px;
}

.footer-margin .text-below-logo {
    color: var(--greyblue);
    font-size: 10px;
}

.footer-margin h6 {
    color: var(--lightblue);
    font-size: 14px;
    font-weight: 700;
}

.footer-margin .address {
    color: var(--greyblue);
    width: 40%;
    font-size: 10px;
}

.footer-margin h5 {
    font-size: 16px;
    color: var(--lightblue);
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-nav {
    list-style-type: none;
    margin-top: 10px;
    font-size: 14px;
}

.footer-nav .footer-li {
    margin-bottom: 10px;
}

.footer-nav .footer-li a {
    color: var(--greyblue);
    transition: .2s;
}

.footer-nav .footer-li a:hover {
    text-decoration: none;
    color: var(--blue);
    transition-duration: .2s;
    padding-left: 3px;
}

.footer-margin h4 {
    font-size: 16px;
    color: var(--lightblue);
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-margin .signup-txt {
    color: var(--greyblue);
    font-size: 12px;
}

.newsletter-form {
    margin-top: 25px;
}

.form-items {
    margin-bottom: 25px;
}

.input-name {
    border: 0;
    padding: 12px 12px 12px 20px;
    border-bottom: 1px solid #94a9c9;
    background-color: transparent;
    width: 100%;
    color: #fff;
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/user.0b726622.svg) no-repeat 0;
}

.input-email {
    border: 0;
    padding: 12px 12px 12px 20px;
    border-bottom: 1px solid #94a9c9;
    background-color: transparent;
    width: 100%;
    color: #fff;
    background: url(https://genz-nextjs-v3.vercel.app/_next/static/media/email.f913666e.svg) no-repeat 0;
}

.form-items input::placeholder {
    color: var(--grey);
    font-size: 12px;
}

.btn-noborder {
    color: var(--white);
    border: none;
    cursor: pointer;
}

.btn-noborder i {
    font-size: 10px;
    margin-left: 5px;
}

.bottom-footer {
    padding: 50px 0 0;
    font-size: 14px;
    border-top: 1px solid #222f43;
}

.bottom-text p {
    color: var(--lightblue);
}

.bottom-text p a {
    color: var(--blue);
    text-decoration: none;
}

.socials {
    display: block;
    text-align: right;
}

.main-socials {
    display: inline-block;
}

.main-socials a {
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}

.main-socials:hover a {
    color: var(--blue);
    transform: translateY(-3px);
}

.icon-socials {
    margin-right: 25px;
    color: var(--greyblue);
}

.icon-socials span {
    margin-right: 5px;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {

    .read-more::before {
        content: "";
        left: 90px;
    }

    .topics-img img {
        width: 100%;
    }

    .topics-img {
        margin: 20px 0;
    }

    .margin-items {
        margin: 200px 70px -120px 70px;
    }

    .hot-topics {
        margin: 170px 70px 50px 70px;
    }

    .subscribe-btn {
        position: relative;
        width: 75%;
    }

    .header-search {
        margin: 0 50px;
    }

    .recent-post-cards {
        margin: 70px 30px;
    }

    .popular-post-side {
        margin: 30px auto;
    }

    .right-side {
        transform: translate3d(10px, 320px, 0px);
        width: calc(100% - 30px);
    }

    .navbar {
        width: 100%;
    }


}

@media screen  and (max-width: 768px) {

    .navbar {
        width: 100%;
    }

    .margin-items {
        margin: 200px 70px -120px 70px;
    }

    .hot-topics {
        margin: 170px 70px 50px 70px;
    }

    .topics-img img {
        width: 100%;
    }

    .topics-img {
        margin: 20px 0;
    }

    .read-more::before {
        content: "";
        left: 25px;
    }

    .banner-pic {
        padding: 70px 0px;
    }

    .recent-post-cards {
        margin: 70px 30px;
    }

    .popular-post-side {
        margin: 30px auto;
    }

    .socials {
        text-align: center;
    }

    .right-side {
        transform: translate3d(10px, 320px, 0px);
        width: calc(100% - 30px);
    }

    .anim2 {
        display: none;
    }

    .bottom-text {
        text-align: center;
    }

}